* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.signin_container {
    background-image: linear-gradient(to right, #feaf00, #f8d442);
    padding-top: 1px;
    padding-bottom: 1px;
    height: 100vh;
}
.sidebar .sidebar_body .sidebar_button a.active {
    background-color: transparent;
}
img {
    width: 50px;
    height: 50px;
}
.ant-table-tbody .ant-table-row td {
    padding: 5px !important;
}

.ant-btn {
    margin-right: 10px;
}
.ant-picker {
    width: 100%;
}
.ant-input-number {
    width: 100%;
}
.anticon svg {
    color: #feaf00;
}
.ant-table-cell {
    text-align: center !important;
}
.ant-table-cell img {
    border-radius: 8px;
    width: 65px;
    height: 55px;
}
.ant-table table {
    border-spacing: 0 5px;
    background-color: #f8f8f8;
}
.ant-table-row {
    background-color: rgba(255, 255, 255, 1);
}
.ant-space-item svg {
    width: 19px;
    height: 19px;
}
.ant-table-cell a {
    font-size: 17px;
    font-weight: 400;
    line-height: 17.07px;
}
.ant-form-horizontal img {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 70px;
    height: 70px;
    border-radius: 10px;
}
